body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #088395;
    color: white;
}

#password-generator {
    width: 550px;
    height: 550px;
    margin: 50px auto;
    background-color: #1F2937;
    border-radius: 20px;
}

h1 {
    width: 360px;
    margin: 115px 0 0 52px;
}

span {
    color: #4ADF86
}

.warning {
    color: #D5D4D8;
    margin: 10px 0 0 52px;
}

.generateArea{
    width: 446px;
    margin: 51px 0 0 52px; 
}

#password-length {
    text-align: center;
    width: 160px;
    height: 35px;
    border-radius: 6px;
    padding: auto 10px;
}

.btn {
    background-color: #10B981;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 9px 10px 9px 10px;
    margin-right: 10px;
}

hr {
    width: 446px;
    height: 1px;
    background-color: #2F3E53;
    border: none;
    margin: 44px 0 0 52px;
}
.text-area {
    display: flex;
    margin: 35px 0 0 52px;
}

.text-el {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    background-color: #273549;
    border: none;
    margin-right: 24px;
    color: #55F991;
    font-size: 16px;
}

